<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>

    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous" defer></script>

    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary p-4">
            <div class="container-fluid">

                <span class="navbar-brand text-white">
                    <a href="/" class="link-light nav-link">Handlebars</a>
                </span>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <form class="btn-group">
                        <button class="btn btn-sm btn-outline-light" type="button"><a href="/" class="nav-link">Home</a></button>
                        <button class="btn btn-sm btn-outline-secondary btn-outline-light" type="button"><a href="/blog" class="nav-link">Blog</a></button>
                        <button class="btn btn-sm btn-outline-secondary btn-outline-light" type="button"><a href="/vaca" class="nav-link">Vaca</a></button>
                    </form>
                </div>
            </div>
    </nav>
    <br>
    <div class="container">
        

        {{{body}}}

        <br>
        <i class="fa fa-info-circle" aria-hidden="true">O Handlebars é um template engine que permite a criação de templates HTML com JavaScript. Ele é muito utilizado para criar páginas dinâmicas, como por exemplo, páginas de listagem de produtos, páginas de listagem de usuários, páginas de listagem de posts, etc.</i>

        
    </div>
    <br>
    <div class="navbar navbar-dark sticky-bottom bg-primary text-center">
            <p class="text-white">Rodapé</p>
    </div>
</body>
</html>