<div id="book-page">

    <dv class="container">
        <h1>{{book.title}}</h1>
        <p>Este livro tem {{book.pageqty}} páginas.</p>
    </dv>

    <form action="/books">
        <button type="submit" class="btn btn-primary">Voltar</button>
    </form>
</div>