
<div class="container vh-90">

    <h1 class="text-center">Cadastre o seu livro:</h1>
    <br>
    <div class="d-flex align-items-center justify-content-center">

        <form action="/books/insertbook" method="post" class="">

            <div class="mb-4 form-control">
                
                    <div class="form-outline mb-4">
                        <label for="titler" class="form-label" >Título:</label>
                        <input type="text" name="title" id="title" placeholder="Digite o título" class="form-control">
                    </div>

                    <div class="col">
                        <div class="form-outline mb-4">
                            <label for="pagesqty" class="form-label" >Páginas:</label>
                            <input type="number" name="pagesqty" id="pagesqty" placeholder="Quantas páginas tem?" class="form-control">
                        </div>
                    </div>

                <button type="submit" value="Cadastrar" class="btn btn-primary btn-block">Cadastrar</button>
                <div class="mb-3"></div>
            </div>

        </form>
    </div>

</div>