<div class="container vh-90">

    <h1 class="text-center">Edite o seu livro:</h1>
    <br>
    <div class="d-flex align-items-center justify-content-center">

        <form action="/books/updatebook" method="post" class="">

            <div class="mb-4 form-control">
                <input type="hidden" name="id" value="{{book.id}}">
                
                <div class="form-outline mb-4">
                    <label for="titler" class="form-label">Título:</label>
                    <input type="text" name="title" placeholder="Digite o título" class="form-control" value="{{book.title}}">
                </div>

                <div class="col">
                    <div class="form-outline mb-4">
                        <label for="pagesqty" class="form-label" >Páginas:</label>
                        <input type="number" name="pagesqty" placeholder="Quantas páginas tem?" class="form-control" value="{{book.pagesqty}}">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" value="Atualizar" class="btn btn-primary btn-block">Atualizar</button>

                    <a href="/books/{{book.id}}" class="btn btn-primary">Cancelar</a>
                </div>
                
                <div class="mb-3"></div>
            </div>

        </form>

    </div>

</div>