<div class="text-center">
    <button type="button" class="btn position-relative">
        <img src="https://www.svgrepo.com/show/36729/cow.svg" alt="uma vaca sentada" height="200px" >
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">Mooooo</span>
    </button>
    <h1>Uma vaca</h1>
</div>
