<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chico Buarque</title>

    <!-- Linkar bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous" defer></script>

    <!-- Linkar CSS -->
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="container">
        <nav class="nav">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artist/cadastro">Adicionar um artista</a>
                </li>
            </ul>
        </nav>
        <div class="divider"></div>


        <h1>Chico Buarque</h1>
        <br>

        <div class="row">
            <div class="col">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Chico_Buarque_no_BRAVO.jpg" alt="Chico Buarque" class="img-fluid img-thumbnail">

            </div>
            <div class="col">
                <p>Francisco Buarque de Hollanda, mais conhecido como Chico Buarque (Rio de Janeiro, 19 de junho de 1944), é um músico, dramaturgo, escritor e ator brasileiro. É conhecido por ser um dos maiores nomes da música popular brasileira (MPB). Sua discografia conta com aproximadamente oitenta discos, entre eles discos-solo, em parceria com outros músicos e compactos.</p>

               <p>Escreveu seu primeiro conto aos 18 anos, ganhando destaque como cantor a partir de 1966, quando lançou seu primeiro álbum, Chico Buarque de Hollanda, e venceu o Festival de Música Popular Brasileira com a música A Banda.[5][6] Autoexilou-se na Itália em 1969, devido à crescente repressão do regime militar do Brasil nos chamados "anos de chumbo", tornando-se, ao retornar, em 1970, um dos artistas mais ativos na crítica política e na luta pela democratização no país. Em 1971, foi lançado Construção, tido pela crítica como um de seus melhores trabalhos, e em 1976, Meus Caros Amigos - ambos os discos figuram, por exemplo, na lista dos 100 maiores discos da música brasileira organizada pela revista Rolling Stone Brasil.</p>

                <p>Além da notabilidade como músico, desenvolveu ao longo dos anos uma carreira literária, sendo autor de peças teatrais e romances. Foi vencedor de três Prêmios Jabuti: o de melhor romance em 1992 com Estorvo e o de Livro do Ano, tanto pelo livro Budapeste, lançado em 2004, como por Leite Derramado, em 2010. Em 2019, foi distinguido com o Prémio Camões, o principal troféu literário da língua portuguesa, pelo conjunto da obra.</p>

                <p>Neto de Cristóvão Buarque de Hollanda e filho de Sérgio Buarque de Hollanda e Maria Amélia Cesário Alvim, Chico é irmão das cantoras Miúcha, Ana de Hollanda e Cristina.[8] Foi casado por 33 anos (de 1966 a 1999) com a atriz Marieta Severo, com quem teve três filhas, Sílvia Buarque, Helena e Luísa.</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center" >

        <!-- Copyright -->
        <div class="text-center p-3 footerContent">
            © 2022 Copyright:
            <a class="text-dark" href="https://github.com/brazillucas" target="_blank">brazillucas</a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
</body>
</html>