<div class="container ">
    <div class="col-4 mx-auto text-center">
        <h1>{{book.title}}</h1>
        <div class="table-group-divider"><br></div>
        <p>Este livro tem <span class="text-danger">{{book.pagesqty}}</span> páginas.</p>

        <form action="/books/editbook/{{book.id}}">
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>

        <div class="mb-3"></div>
        <div class="table-group-divider"><br></div>

        <form action="/books">
            <button type="submit" class="btn btn-primary">Voltar</button>
        </form>
    </div>

    
</div>